/* RESET CSS padrao no css quando se for fazer */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: normal;
}

/* aqui  é onde padrao colo todas as cores como variavel para poder puxar nos campos para evitar de ficar mudando uma por uma*/
:root {
  --color-logo: rgba(137, 197, 204, 1);
  --color-navegation-superior: rgba(31, 21, 52, 1);
  --header-text-treinos-h1: rgba(0, 0, 0, 1);
  --header-text-exclusivos-h1: rgba(137, 197, 204, 1);
  --header-text-p: rgba(125, 121, 135, 1);
  --button-color: rgba(105, 185, 157, 1);
  --button-text: rgba(249, 249, 249, 1);
  --footer-text: rgba(0, 0, 0, 1);
}

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

main #logo {
  font-family: "Inter", sans-serif;
  color: var(--color-logo);
}

main #navegation {
  font-family: "Mulish", sans-serif;
  color: var(--color-navegation-superior);
}

.hero{
  font-family: 'Mulish', sans-serif;
}

